.post-item {
  margin: 10px 0;
  border: 1px solid #28a745;

  .card-body {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .card-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px 0 0;
    border-bottom: 1px solid #80808059;
    background: transparent;
    align-items: flex-end;

    .buttons {
      .post-button {
        background: transparent;
        border: none;
        font-weight: bold;
        outline: none;
      }

      .edit-button {
        font-size: 0.75rem;
      }

      .delete-button {
        font-size: 1.15rem
      }
    }
  }

  .comments-button {
    background: transparent;
    border: none;
    font-size: small;
    padding: 0;
    font-weight: bold;
    outline: none;
    color: gray;
  }
}